.oski-carousel-element {
    width: 100%;
    height: 350px;
}

.oski-carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.oski-carousel-title {
    width: auto;
    margin-top: -200px;
    text-align: right;
    padding-right: 125px;
    z-index: 99;
    font-size: 35px;
    color: white;
    cursor: default;
}

.oski-swiper {
    width: 100%;
}

@media (max-width: 1536px){
    .oski-swiper {
        width: 1200px;
    }

    .oski-carousel-element {
        height: 300px;
    }
}

@media (max-width: 1200px) {
    .oski-swiper {
        width: 1000px;
    }

    .oski-carousel-element {
        height: 250px;
    }

}

@media (max-width: 1050px) {
    .oski-swiper {
        width: 700px;
    }

    .oski-carousel-element {
        height: 200px;
    }

    .oski-carousel-title {
        margin-top: -150px;
        padding-right: 80px;
        font-size: 32px;
    }
}

@media (max-width: 750px) {
    .oski-swiper {
        width: 500px;
    }

    .oski-carousel-element {
        height: 180px;
    }
}

@media (max-width: 550px) {
    .oski-swiper {
        width: 400px;
    }

    .oski-carousel-element {
        height: 130px;
    }
}

@media (max-width: 486px) {
    .oski-swiper {
        width: 350px;
    }

    .oski-carousel-element {
        height: 200px;
    }

    .oski-carousel-title {
        margin-top: -80px;
        padding-right: 50px;
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .oski-swiper {
        width: 300px;
    }

    .oski-carousel-element {
        height: 150px;
    }

    .oski-carousel-title {
        margin-top: -65px;
        padding-right: 45px;
        font-size: 15px;
    }
}
