.oski-carousel-element {
    width: 100%;
    height: 350px;
    position: relative;
}

.oski-carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.oski-carousel-title {
    width: auto;
    z-index: 99;
    font-size: 30px;
    color: white;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5),
        0px 10px 15px rgba(0, 0, 0, 0.2), 0px 20px 25px rgba(0, 0, 0, 0.3);
}

.oski-swiper {
    width: 100%;
}

@media (max-width: 1536px) {
    .oski-swiper {
        width: 1200px;
    }

    .oski-carousel-element {
        height: 300px;
    }
}

@media (max-width: 1200px) {
    .oski-swiper {
        width: 1000px;
    }

    .oski-carousel-element {
        height: 250px;
    }
}

@media (max-width: 1050px) {
    .oski-swiper {
        width: 700px;
    }

    .oski-carousel-element {
        height: 200px;
    }

    .oski-carousel-title {
        margin-top: -25px;
        padding-right: 40px;
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .oski-swiper {
        width: 500px;
    }

    .oski-carousel-element {
        height: 180px;
    }

    .oski-carousel-title {
        margin-top: -10px;
        padding-right: 5px;
        font-size: 18px;
    }
}

@media (max-width: 550px) {
    .oski-swiper {
        width: 400px;
    }

    .oski-carousel-element {
        height: 130px;
    }

    .oski-carousel-title {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 14px;
    }
}

@media (max-width: 486px) {
    .oski-swiper {
        width: 350px;
    }

    .oski-carousel-element {
        height: 130px;
    }

    .oski-carousel-title {
        margin-top: 15px;
        padding-right: 0px;
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .oski-swiper {
        width: 300px;
    }

    .oski-carousel-element {
        height: 150px;
    }

    .oski-carousel-title {
        margin-top: 15px;
        font-size: 10px;
    }
}
